body{
    font-family: monospace;
    font-size: xx-large;
    color: white;
    background-color: black;
}

#header{
    padding-bottom: 50px;
}

footer{
    font-size: x-large;
    text-align: center;
    padding-top: 50px;
}

.downloads a{
    padding-top: 10px;
}